
fastapi==0.78.0
httptools==0.4.0
importlib-metadata==4.11.3
Jinja2==3.1.2
lxml==4.8.0
re101==0.4.0
rich==10.16.2
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.0
SQLAlchemy-Utils==0.37.9
sqlparse==0.4.2
starlette==0.19.1
sysadmin-tools==0.0.1
uvicorn==0.18.2
websockets==10.3

